<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="auto test framework tests" verbose="0" parallel="tests"
	thread-count="2">

	<parameter name="url" value="http://go.mail.ru" />
	<parameter name="hub" value="http://127.0.0.1:4444/wd/hub" />

	<test name="firefox">
		<parameter name="browser" value="firefox" />
		<classes>
			<class name="qa.tests.ru.mail.go.CalendarTest" />
		</classes>
	</test>
	<test name="chrome">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="qa.tests.ru.mail.go.CalendarTest" />
		</classes>
	</test>

</suite>